appdirs==1.4.4
attrs==23.2.0
black==24.3.0
click==8.1.7
coverage==7.4.3
hypothesis==6.99.5
importlib_metadata==7.0.2
iniconfig==2.0.0
isort==5.13.2
more-itertools==10.2.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
py==1.11.0
pyparsing==3.1.2
pytest==8.1.1
regex==2023.12.25
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
typed-ast==1.5.5
wcwidth==0.2.13
zipp==3.18.0
